{% extends "index.html" %}
{% block container %}
<section class="uk-section uk-section-large uk-section-primary">
    <div class="uk-container uk-container-small uk-text-center">
        <h1>Baromètre Open Access UCA</h1>
        <p class="uk-text-large">Le baromètre UCA mesure l’évolution de la pratique d’ouverture des publications des chercheurs et enseignants-chercheurs de l’Université Côte d'Azur depuis 2016. Il s’inspire de la méthodologie définie par le MESRI pour son <a href="https://ministeresuprecherche.github.io/bso/" target="_blanck">baromètre national</a> développé dans le cadre du <a href="https://www.enseignementsup-recherche.gouv.fr/cid132529/le-plan-national-pour-la-science-ouverte-les-resultats-de-la-recherche-scientifique-ouverts-a-tous-sans-entrave-sans-delai-sans-paiement.html" target="_blanck">Plan national pour la Science ouverte</a></p>
        <p class="uk-text-large">Le périmètre actuel du baromètre Open Access UCA recouvre les publications référencées dans Scopus disposant d'un DOI et ayant au moins un auteur avec au moins une affiliation UCA</p>
        <p class="uk-text-meta">Date de dernière mise à jour des données : 14 septembre 2021</p>
        <div data-uk-margin>
            <!--<div class="uk-button uk-button-secondary">
                Tableau de bord UCA
            </div>-->
            <a class="uk-button uk-button-secondary" href="/dashboard/uca">Tableau de bord UCA</a>
            <a class="uk-button uk-button-secondary" href="/list/structures" data-uk-toggle>Référentiel des structures</a>
            <a class="uk-button uk-button-secondary" href="{{ url_for('readySource',source='publishers') }}" data-uk-toggle>Liste des éditeurs</a>
        </div>
    </div>
</section>
{% endblock %}