{% extends "index.html" %}
{% block container %}
<section class="uk-section uk-section-large uk-section-primary">
    <div class="uk-container uk-container-small uk-text-center">
        <h1>Baromètre Open Access UCA</h1>
        <!--<p class="uk-text-large"><a href="">Méthodologie</a></p>-->
        <div data-uk-margin>
            <!--<div class="uk-button uk-button-secondary">
                Tableau de bord UCA
            </div>-->
            <a class="uk-button uk-button-secondary" href="/dashboard/uca">Tableau de bord UCA</a>
            <a class="uk-button uk-button-secondary" href="/list/structures" data-uk-toggle>Référentiel des structures</a>
        </div>
    </div>
</section>
{% endblock %}